/* common.css */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the iframe content centers vertically too */
    margin: 0;
    font-family: Arial, sans-serif; /* Adjust font-family as needed */
    background-color: #F2F3F5; /* Optional: Set a background color for better visibility */
    box-sizing: border-box;
  }
  
  .sidebar {
    width: 80px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .user-section, nav, .logout-section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logout-section {
    margin-top: auto;
    padding-bottom: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  
  nav ul li {
    margin-bottom: 20px;
  }
  
  nav ul li.active div {
    background-color: #6200EE;
  }
  
  nav ul li a {
    text-decoration: none;
    color: inherit;
  }
  
  .main-content {
    flex: 1;
    padding: 0px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
  }
  
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
  }
  
  .header-left, .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-left {
    margin-right: auto;
  }
  
  .header-left .user-info {
    margin-right: 50px;
  }
  
  .header-right .logo {
    margin-right: 50px;
  }
  
  .header-right {
    margin-left: auto;
  }
  
  .header-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }
  
  .user-info, .notification, .logo, .search-bar {
    display: flex;
    align-items: center;
  }
  
  .notification {
    position: relative;
  }
  
  .notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 10px;
    box-sizing: border-box;
  }
  
  .search-bar img {
    cursor: pointer;
  }
  