/* common.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #F2F3F5;
  box-sizing: border-box;
}

.icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.dashboard {
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  overflow: auto; /* Aggiunto per consentire lo scroll interno se necessario */
}

.card {
  background-color: #5E17EB;
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 230px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.card h3 {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

.card p {
  margin: 10px 0 0;
  font-size: 2em;
}

.card .icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trip-info {
  display: flex;
  gap: 20px;
  justify-content: center; /* Centra orizzontalmente */
  overflow: auto; /* Aggiunto per consentire lo scroll interno se necessario */
}

.container, .map {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  box-sizing: border-box;
}

.container {
  max-width: 40%;
}

.map {
  flex: 1;
  max-width: 40%;
  text-align: center;
}

.trip-stats {
  width: 80%;
}

.trip-stats h4 {
  font-size: 1em;
  color: #6c6c6c;
}

.trip-stats p {
  font-size: 1.5em;
  color: #0066cc;
}

.drop-rental {
  display: flex;
  justify-content: space-between; /* Optional: adjust as needed */
  align-items: flex-start; /* Align items at the start */
}

.drop-off {
  text-align: justify; /* Allinea il contenuto al centro */
}

.drop-off h4 {
  margin-bottom: 5px; /* Spaziatura inferiore tra il titolo e l'immagine */
}

.drop-off .icon-wrapper {
  display: flex; /* Utilizza flexbox per allineare l'immagine e il numero */
  align-items: center; /* Allinea verticalmente */
  justify-content: justify; /* Allinea orizzontalmente */
  margin-bottom: 5px; /* Spaziatura inferiore tra l'immagine e il numero */
}

.drop-off img {
  width: 80px; /* Dimensioni dell'icona */
  height: 80px;
  margin-right: 5px; /* Spaziatura a destra dell'icona */
}

.drop-off p {
  font-size: 70px; /* Dimensione del numero */
  margin: 0; /* Rimuove il margine predefinito */
}

.rental-duration {
  margin-top: 0px;
}

.rental-duration h4 {
  height: 50px;
}

.rental-chart {
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 15px;
  overflow: hidden;
}

.rental-chart .time-spent {
  background-color: #d3d3d3;
}

.rental-chart .active-time {
  background-color: #6c03fc;
}

.chart-label {
  display: flex;
  justify-content: space-between;
}

.chart-label span {
  font-size: 0.8em;
  color: #6c6c6c;
}

.time-spent {
  background-color: #6200EE;
  height: 100%;
}

.active-time {
  background-color: #3700B3;
  height: 100%;
}

.reservation-form input, .reservation-form .button-search {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reservation-form .button-search {
  background-color: #6200EE;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reservation-form .button-search:hover {
  background-color: #3700B3;
}
